<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer id="footer-profile">
    <h3>Created by JonProg</h3>
    <div class="links-profile">
        <a href="https://github.com/JonProg" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/jon_prog/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/jonas-henrique-dev/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/@Jon-Prog" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
</footer>
