
<div class="search">
    <a id="title-web" href="/">CineDirect</a>
    <form action="/search" method="get" class="search-form">
        <div id="input-group">
            <input type="text" name="movie" placeholder="Pesquise seu filme..."
            minlength="4" id="movieInput">
            <button id="searchButton" type="submit" disabled>
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('movieInput');
        const button = document.getElementById('searchButton');

        if (input && button) {
            input.addEventListener('input', function() {
                if (input.value.length >= 4) {
                    button.disabled = false; 
                }
            });
        }
    });
</script>