@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --font:'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

    --huge-weight:600;
    --btn-weight:500;
    --medium-weight:400;
    --small-weight:300;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, input, select):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


a, button {
    cursor: revert;
}


ol, ul, nave {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}


table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


:where(pre) {
    all: revert;
}


::placeholder {
    color: unset;
}


::marker {
    content: initial;
}


:where([hidden]) {
    display: none;
}


:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
        line-break: after-white-space;
    -webkit-user-select: auto;
        user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


:where(dialog:modal) {
    all: revert;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #eeeeee93;
    border-radius: 1rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(18, 18, 18);
}

.movie-image{
    border-radius: 0.5rem;
    box-shadow: 0 0 25px 1px rgb(62, 62, 62);
    transition: 0.5s ease;
}

.movie-image:hover{
    transform: scale(1.02);
}

.wrapper{
    margin: 0 1.4rem;
    scroll-behavior: smooth;
    max-height: auto;
    display: flex;
    overflow-x: auto;
    background-color: transparent;
}

.wrapper::-webkit-scrollbar{
    height: 0.4rem;
}

.movie-item{
    margin: 2.5rem 1rem;
    min-width: 20rem;
}


.title-movie{
    font-size:1.5rem;
    font-weight:300;
    color: rgb(240, 240, 240);
}

#title-web{
    text-decoration: none; 
    color: rgb(240, 240, 240);
    font-size:5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6rem 0;
}

#input-group{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(241, 241, 241);
}

#input-group input{
    border: none;
    background-color: transparent;
    padding: 1rem;
    width: 43rem;
    height: 4rem;
}

#input-group input:focus-visible {
    outline: none;
}

.lupa{
    cursor: pointer;
    padding-right: 1rem;
    border: none;
    font-size: 2rem;
    color: rgb(12, 12, 12);
}

.lupa:hover{
    color: gray;
}

body header{
    margin-left: 2.4rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: #eeeeee;
}
