<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/_header') %>
    <body>
        <%- include('partials/_search') %>
        <div class="error-404">
            <h1>404</h1>
            <h2>A página procurada não existe.</h2>
        </div>
    </body>
    <%- include('partials/_footer') %>
</html>