
<div class="search">
    <a id="title-web" href="/">CineDirect</a>
    <form action="/search" method="get" class="search-form">
        <div id="input-group">
            <input type="text" name="movie" placeholder="Pesquise seu filme..."
            minlength="4">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </button>
        </div>
    </form>
</div>
